<table>
  <tr>
    <th>Model</th>
    <th>Year</th>
    <th>Price</th>
    <th>Description</th>
    <th>Owner</th>
  </tr>
  <tr *ngFor="let car of carsList">
    <td>{{car.model}}</td>
    <td>{{car.year}}</td>
    <td>{{car.price}}</td>
    <td>{{car.description}}</td>
    <td>{{car.user.username}}</td>
    <td class="table-btn">
      <a (click)="addCarToFavorite(car)">Favorite</a>
    </td>
    <td class="table-btn">
      <a routerLink="/comments" (click)="addCarToLocalStorage(car)">Comments</a>
    </td>
    <td class="table-btn">
      <a routerLink="/deals" (click)="addCarToLocalStorage(car)">Deal!</a>
    </td>
    <td class="table-btn">
      <a routerLink="/history" (click)="addCarToLocalStorage(car)">History</a>
    </td>
    <td class="table-btn">
      <a (click)="deleteCar(car)">Delete</a>
    </td>
  </tr>
</table>

<div class="comments">
  <span class="title">Comments</span><br/>
  <div class="delimiter"></div>
  <div *ngFor="let comment of comments" class="item-delimiter">
  <span class="comment-item">{{comment.userId.username}} about {{comment.carId.model}}
    : {{comment.comment}}</span><br/>
  </div>
</div>

<div class="deals">
  <span class="deals-title">Your Deals:</span><br/>
  <div class="delimiter"></div>
  <div *ngFor="let deal of userCarDeals" class="item-delimiter">
    <span class="deal-item">{{deal.dealUser.username}} offers you {{deal.dealAmount}} for {{deal.carId.model}}!</span><br/>
  </div>
</div>
