<div *ngIf='car' class="car-deal">
  <span>Model:</span><span>{{car.model}}</span><br/>
  <span>Year:</span><span>{{car.year}}</span><br/>
  <span>Price:</span><span>{{car.price}}</span><br/>
  <span>Description:</span><span>{{car.description}}</span><br/>
  <span>Owner:</span><span>{{car.user.username}}</span><br/>
  <div class="login-form">
    <label for="offer">Make an offer!</label>
    <input type="number" id="offer" placeholder="Offer amount" [(ngModel)]="offerAmount"><br/>
    <button (click)="addCarDeal()">Propose Deal</button>
  </div>
</div>
