<table>
  <tr>
    <th>Model</th>
    <th>Year</th>
    <th>Price</th>
    <th>Description</th>
    <th>Owner</th>
  </tr>
  <tr *ngFor="let favCar of favCarsList">
    <td>{{favCar.car.model}}</td>
    <td>{{favCar.car.year}}</td>
    <td>{{favCar.car.price}}</td>
    <td>{{favCar.car.description}}</td>
    <td>{{favCar.car.user.username}}</td>
    <td class="table-btn">
      <a (click)="deleteFavCar(favCar)">Delete</a>
    </td>
  </tr>
</table>

<table>
  <tr>
    <th>Part</th>
    <th>Model</th>
    <th>Price</th>
    <th>Description</th>
    <th>Owner</th>
  </tr>
  <tr *ngFor="let favPart of favPartsList">
    <td>{{favPart.part.part}}</td>
    <td>{{favPart.part.car.model}}</td>
    <td>{{favPart.part.price}}</td>
    <td>{{favPart.part.description}}</td>
    <td>{{favPart.part.user.username}}</td>
    <td class="table-btn">
      <a (click)="deleteFavPart(favPart)">Delete</a>
    </td>
  </tr>
</table>
