table {
  border-radius: 6px;
  margin-top: 50px;
  margin-left: 50px;
  width: 60%;
}

td {
  text-align: center;
  font-size: 25px;
  border: 2px solid #666666;
  color: #666666;
  background: white;
}

th {
  font-size: 25px;
  border: 2px solid #666666;
  color: #666666;
  background: white;
}

.table-btn {
  background: none;
  border: none;
}

a {
  height: 35px;
  width: 120px;
  padding-top: 5px;
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  font-size: 25px;
  margin-right: 5px;
  text-align: center;
  margin-bottom: 5px;
  direction: ltr;
}
a:visited, a:link {
  color: #607d8b;
}
a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
a.active {
  color: #039be5;
}
