.login-form input {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 250px;
  height: 25px;
  border: 2px solid #666666;
  border-radius: 6px;
  padding-left: 5px;
}

button {
  height: 35px;
  width: 100px;
  border: 2px solid #666666;
  border-radius: 6px;
  font-weight: bolder;
  color: #666666;
  margin-bottom: 30px;
}

span {
  margin-right: 10px;
  font-size: 25px;
  font-weight: bolder;
  color: #666666;
}

.car-comment {
  margin-left: 50px;
  margin-top: 50px;
}

label {
  font-size: 25px;
  color: #666666;
  padding-right: 10px;
}
