<div *ngIf='car' class="car-comment">
  <span>Model:</span><span>{{car.model}}</span><br/>
  <span>Year:</span><span>{{car.year}}</span><br/>
  <span>Price:</span><span>{{car.price}}</span><br/>
  <span>Description:</span><span>{{car.description}}</span><br/>
  <span>Owner:</span><span>{{car.user.username}}</span><br/>
  <div class="login-form">
    <label for="offer">Add a comment!</label>
    <input type="text" id="offer" placeholder="Comment" [(ngModel)]="comment"><br/>
    <button (click)="addCarComment()">Add comment</button>
  </div>
</div>
