<table>
  <tr>
    <th>Model</th>
    <th>Year</th>
    <th>Price</th>
    <th>Description</th>
    <th>Owner</th>
  </tr>
  <tr *ngFor="let part of partList">
    <td>{{part.part}}</td>
    <td>{{part.car.model}}</td>
    <td>{{part.price}}</td>
    <td>{{part.description}}</td>
    <td>{{part.user.username}}</td>
    <td class="table-btn">
      <a (click)="addPartToFavorite(part)">Favorite</a>
    </td>
    <td class="table-btn">
      <a routerLink="/part-deal" (click)="addPartToStorage(part)">Deal!</a>
    </td>
    <td class="table-btn">
      <a (click)="deletePart(part)">Delete</a>
    </td>
  </tr>
</table>

<div class="deals">
  <span class="deals-title">Your Deals:</span><br/>
  <div class="delimiter"></div>
  <div *ngFor="let deal of userPartDeals" class="item-delimiter">
    <span class="deal-item">{{deal.dealUser.username}} offers you {{deal.dealAmount}} for {{deal.partId.part}}!</span><br/>
  </div>
</div>
