<div>
  <div class="add-car-form">
    <p class="add-car-title">Add the car info!</p>
    <div class="login-form">
      <label for="model">Model</label><br/>
      <input type="text" id="model" placeholder="Model" [(ngModel)]="model">
    </div>
    <div class="login-form">
      <label for="year">Year</label><br/>
      <input type="number" id="year" placeholder="Year" [(ngModel)]="year">
    </div>
    <div class="login-form">
      <label for="price">Price</label><br/>
      <input type="number" id="price" placeholder="Price" [(ngModel)]="price">
    </div>
    <div class="login-form">
      <label for="description">Description</label><br/>
      <input type="text" id="description" placeholder="Description" [(ngModel)]="description">
    </div>
    <button (click)="addCar()">Add Car</button>
  </div>
  <div class="add-part-form">
    <p class="add-part-title">Add the car-part info!</p>
    <div class="login-form">
      <label for="part">Part</label><br/>
      <input type="text" id="part" placeholder="Part" [(ngModel)]="part">
    </div>
    <div class="login-form">
      <label for="part-price">Price</label><br/>
      <input type="number" id="part-price" placeholder="Price" [(ngModel)]="partPrice">
    </div>
    <div class="login-form">
      <label for="car-model">Car model</label><br/>
      <input type="text" id="car-model" placeholder="Car Model" [(ngModel)]="carModel">
    </div>
    <div class="login-form">
      <label for="part-description">Description</label><br/>
      <input type="text" id="part-description" placeholder="Description" [(ngModel)]="partDescription">
    </div>
    <button (click)="addPart()">Add Part</button>
  </div>
</div>
