.add-car-form{
  position: relative;
  top: 120px;
  left: 40px;
  width: 45%;
  text-align: center;
  border: 4px solid #666666;
  border-radius: 12px;
  opacity: 0.8;
}
.add-car-title,.add-part-title{
  margin-top: 30px;
  font-size: 35px;
  font-weight: bolder;
  color: #666666;
}
label{
  font-size: 20px;
  color: #666666;
  font-weight: bold;
}
.login-form input {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 250px;
  height: 25px;
  border: 2px solid #666666;
  border-radius: 6px;
  padding-left: 5px;
}
button{
  height:35px;
  width: 100px;
  border: 2px solid #666666;
  border-radius: 6px;
  font-weight: bolder;
  color: #666666;
  margin-bottom: 30px;
}
.add-part-form{
  float:right;
  margin-top: -370px;
  margin-right: 40px;
  width: 45%;
  text-align: center;
  border: 4px solid #666666;
  border-radius: 12px;
  opacity: 0.8;
}
