<div *ngIf='part' class="part-deal">
  <span>Part:</span><span>{{part.part}}</span><br/>
  <span>Model:</span><span>{{part.car.model}}</span><br/>
  <span>Price:</span><span>{{part.price}}</span><br/>
  <span>Description:</span><span>{{part.description}}</span><br/>
  <span>Owner:</span><span>{{part.user.username}}</span><br/>
  <div class="login-form">
    <label for="offer">Make an offer!</label>
    <input type="number" id="offer" placeholder="Offer amount" [(ngModel)]="offerAmount"><br/>
    <button (click)="addPartDeal()">Propose Deal</button>
  </div>
</div>
