<div class="background">
  <div class="title">
    <p>
      Welcome to {{ title }}!
    </p>
  </div>
  <div class="login-text">
    <p>Please enter your username and password!</p>
  </div>

  <div class="form-align">
    <div class="login-form">
      <label for="username">Username</label><br/>
      <input type="text" id="username" placeholder="Username" [(ngModel)]="username">
    </div>

    <div class="login-form">
      <label for="password">Password</label><br/>
      <input type="password" id="password" placeholder="Password" [(ngModel)]="password">
    </div>
  </div>

  <div class="login-btn">
    <button (click)="logUser()">Login</button>
  </div>

  <router-outlet></router-outlet>
</div>
