.title {
  text-align: center;
}

.title p {
  font-size: 50px;
  color: #666666;
  font-weight: bolder;
  margin-top: 0;
  padding-top: 80px;
}

.login-text p {
  text-align: center;
  font-size: 30px;
  color: #666666;
}
.login-text {
  margin-top: 100px;
}

.form-align {
  margin-top: 120px;
}

.login-form {
  text-align: center;
}

.login-form input {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 250px;
  height: 25px;
  border: 2px solid #666666;
  border-radius: 6px;
  padding-left: 5px;
}

.login-btn {
  text-align: center;
}

label {
  color: #666666;
  font-size: 30px;
  font-weight: bolder;
}

button{
  height:35px;
  width: 100px;
  border: 2px solid #666666;
  border-radius: 6px;
  font-weight: bolder;
  color: #666666;
}
