<h1>Cars and Car parts dealer</h1>
<nav>
  <a routerLink="/add-page">Add</a>
  <a routerLink="/all-cars">Cars</a>
  <a routerLink="/all-parts">Parts</a>
  <a routerLink="/favorites">Favorites</a>
</nav>
<router-outlet></router-outlet>
