nav a {
  height: 40px;
  width: 120px;
  padding-top: 15px;
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  font-size: 25px;
  margin-right: 5px;
  text-align: center;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
h1{
  margin-top: 0;
  padding-top: 50px;
  padding-left: 50px;
  color: #666666;
  font-size: 45px;
}
nav {
  padding-left: 50px;
}
